@media (max-width: 600px) {
  nav ul {
    flex-direction: column;
    text-align: center;
  }
}
/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
  justify-self: center;
}

/* Limiting tthe page */
header, main, footer {
  width: 840px;
  margin: 0 auto;
}

/* Full height and flex for body */
html, body {
  background-color: #ffffff;
  color: #000000;
  height: 100%;
  font-family: Arial, sans-serif;
}

/* Header styling */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #005f73;
}

.logo img {
  width: 15%;
  height: 15%;
  border-radius: 8px;
}

.nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
  margin-top: 1rem;
}

.nav a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: bold;
}

.nav a:hover {
  color: orangered;
}

/* Main section */
.hero {
  position: relative;
  text-align: center;
  background-color: #f0f0f0;
  padding: 2rem;
}

.hero img {
  object-fit: cover;
}

.hero h1 {
  position: absolute;
  color: #fff; /* Text color */
  width: 92.5%;
  font-size: 2rem;
  top: 50px;
  background-color: #000;
}

.hero article {
  position: absolute;
  top: 65px;
  right: 150px;
  width: 67%;
  margin-top: 2rem;
  background: #000000ca;
  color: white;
  padding: .5rem;
  border-radius: 8px;
}

.hero article img {
  float: right;
  margin: 0 0 10px 10px;
  width: 20%;
}

/* History section */
.history {
  padding: 2rem;
  text-align: start;
  background-color: #f0f0f0;
  color: #000;
  letter-spacing: 1px;
}

.history h2 {
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  margin-bottom: 1rem;
  background: rgb(0, 0, 0, 0.7);
}

/* Adventure grid */
.adventures {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: auto;
}

.adventures h2 {
  position:absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 10px;
  background: rgba(0, 0, 0, 0.7);
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
}

.adventures figure img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.adventures figcaption {
  font-weight: bold;
  font-style: italic;
  color: #000;
  text-align: center;
}

/* Footer */
footer {
  background-color: #2A2A2A;
  display: flex;
  padding: 1rem;
  text-align: center;
  color: #F2F2F2;
}

footer .sociallinks img {
  width: 30px;
  margin: 0 0.5rem;
  align-self: flex-end;
  transition: transform 0.2s;
}

footer .sociallinks img:hover {
  transform: scale(1.2);
}
