/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
  justify-self: center;
}

/* Full height and flex for body */
html, body {
  height: 100%;
  font-family: Arial, sans-serif;
}

/* Header styling */
header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: 1rem;
  background-color: #005f73;
}

.logo {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav {
  display: flex;
  justify-content: flex-end;
  gap: 5rem;
  list-style: none;
}

.nav a {
  text-decoration: none;
  color: rgba(255, 167, 3, 0.988);
  font-size: 1rem;
  font-weight: bold;
}

table {
  width: 45%;
  table-layout: fixed;
}


td {
  padding: 10px;
  text-align: center;
  background-color: grey;
}

.nav a:hover {
  color: #e9e5dd;
}

/* Hero section */
.hero {
  position: relative;
  text-align: left;
  height: auto;
  background-size: cover;
  background-position: center;
  background-color: #FFA500;
  padding: 2rem;
}

.hero img {
  width: 100%;
  display: block;
  height: auto;
}

.hero h1 {
  position: absolute;
  top: 70px;
  left: 20%;
  color: white;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.7);
  font-size: 3rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hero article {
  position: absolute;
  bottom: 30%;
  left: 15%;
  margin-top: 2rem;
  background: rgba(48, 34, 34, 0.674);
  color: white;
  padding: 20px;
  width: 70%;
  border-radius: 8px;
}

.hero article img {
  float: right;
  margin: 0 0 10px 10px;
  width: 250px;
}

.hero article p {
  color: white;
  line-height: 1.6;
  font-size: medium;
}

/* History section */
.history {
  padding: 2rem;
  text-align: left;
}

/* .history-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px auto;
  width: 90%;
} */

.history h2 {
  color: rgb(0, 0, 0);
  margin-bottom: 1.5rem;
}

#text {
  margin-bottom: 20px;
}


/* .center-image {
  display: block;
  max-width: 100%;
  margin: 20px auto;
  height: auto;
} */

.history p {
  color: blue;
  line-height: 1.6;
  text-align: justify;
}

/* Adventure grid */
.adventures {
  padding: 2rem;
  background-color: #f0f0f0;
}

.figure-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.figure-grid figure {
  text-align: center;
}

.figure-grid img {
  width: 100%;
  border-radius: 8px;
}

.figure-grid figcaption {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: #6F00FF;
}

/* Footer */
footer {
  background-color: #008080;
  padding: 1rem;
  text-align: center;
  color: white;
}

footer .sociallinks img {
  width: 30px;
  margin: 0 0.5rem;
  transition: transform 0.2s;
}

footer .sociallinks img:hover {
  transform: scale(1.2);
}
