
/* rafting.css */

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* Define CSS variables */
:root {
  --main-color: #13b2de; /* Deep yellow */
  --background-color: #F5F5F5; /* Light gray */
  --text-color: #333; /* Dark gray */
  --accent-color: #FFA500; /* Orange */
}

/* Body styles */
#content {
  max-width: 1200px; /* Adjust as needed */
  margin: 0 auto; /* Center horizontally */
}


/* Heading styles */
h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: var(--main-color);
}

/* Paragraph styles */
p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: var(--text-color);
}
/* Link styles */
a {
  color: var(--primary-color); /* Use primary color variable */
  text-decoration: none; /* Remove underline */
}

/* Social media link styles */
.social-media-link {
  text-decoration: none; /* Remove underline */
}
/* Hero section styles */
.hero {
    position: relative;
}

.hero h1,
.hero article {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Additional styling as needed */
}

.hero img{
    display: block;
    width: 100%;
    height: auto;
}

/* Article styles */
.hero article {
  background-color: rgba(255, 255, 255, 0.8); /* Light background with 80% opacity */
  padding: 20px;
}

/* Paragraph styles */
.hero article p {
  float: right; /* Float the image to the right */
}
