/* Ensure the full height of the page */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Use flexbox for layout */
body {
    width: 1200px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Main content fills the space */
main {
    flex: 1;
}

/* Define CSS variables for color scheme in :root */
:root {
  --primary-color: #003366;
  --secondary-color: #FFFFFF;
  --background-color: #FFA500;
  --text-color: #6F00FF;
}

/* Styling for headings and paragraphs */
h1, h2, h3, h4, h5, h6 {
  color: var(--primary-color);
}

p {
  color: var(--text-color);
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.container {
    display: block;
}

.hero h1 {
  position: absolute;
  top: 10%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: var(--secondary-color);
  font-size: 2.5rem;
  text-align: center;
}

.hero article {
  position: absolute;
  bottom: 5%;
  left: 30%;
  transform: translate(-50%, -50%);
  background-color: rgba(48, 34, 34, 0.603); /* White background with opacity */
  padding: 20px;
  width: 60%;
}

.hero article img {
  float: right;
  margin: 0 0 10px 10px;
  width: 150px; 
  height: auto;
}

.hero article p {
  color: white;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

/* Footer styles */
footer {
    clear: both;
    position: relative;
    background-color: #000000b7;
    padding: 20px;
    text-align: left;
    font-family: Arial, sans-serif;
    color: white;
    margin-top: 0; /* Ensure no margin pushes it up */
}

footer p {
    margin: 0;
    font-size: 14px;
    color: white;
}

footer .sociallinks {
    margin-top: 10px;
}

footer .sociallinks a {
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
}

footer .sociallinks img {
    width: 30px;
    height: 30px;
    transition: transform 0.2s;
}

footer .sociallinks img:hover {
    transform: scale(1.2); /* Slightly enlarge the icon on hover */
}
