
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: darkblue;
    padding: 10px;
}
nav a{
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    color: darkblue;
    padding: 3rem;
}


main img {
    float: right;
    margin-left: 7px;
    margin-top: 20px;
    width: 200px;
    height: 220px;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    margin: 1rem;
    padding: 10px;
}
/* class selector */
.box {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgb(85, 14, 14);
    background-color: rgb(113, 13, 116);
    color: rgb(255, 255, 255);

}
aside {
    width: 20em;
    text-align: center;
    position: relative;
    border: 1px solid rgb(139, 35, 35);
    background-color: #eee;
    color: #333;
}
aside img {
    width: 200px;
    height: auto;
}
aside h2 {
    position: absolute;
    top: 15px;
    left: 100px;
}
main {
    max-width: 840px;
}
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}
.indent {
    padding: 2rem;
}